* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Raleway', sans-serif;
  line-height: 1.6;
  color: #666;
}

#root {
  margin: 0 auto;
}

h3 {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  padding: 1.5rem 2.5rem;
  background-image: linear-gradient(120deg, #0F2027 , #203A43, #2C5364);
  font-size: 1.5rem;
  color: white;
  font-weight: 400;
}

h4 {
  padding: 0.7rem 2.5rem;
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 0;
  text-align: center;
  font-weight: 400;
}

img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}

p, li {
  padding: 0.7rem 2.5rem;
  margin: 0;
}

li {
  list-style-type: none;
}
/* Classes */
.no-mission-badge {
  width: auto;
  height: 180px;
  border-radius: 100%;
}
.mission-badge {
  width: auto;
  height: 180px;
}

.spacex-logo {
  margin-top: 0; 
  margin-bottom: 3px;
  width: 350px;
  height: auto;
}
/* 
.container {

}
.card {
  margin: 1rem;
  background: white;
  border-radius: 50px;
  border: white 1px solid;
  box-shadow: 2px 4px 40px rgba(75, 75, 75, 0.1);
  transition: all .2s linear;
  overflow: hidden;
} */

.grid {
  display: block;
  counter-reset: grid-item;
  margin: auto;
}

.grid-item { 
  width: 400px;
  height: auto;
  float: left;
  background: white;
  border-radius: 50px;
  border: white 1px solid;
  box-shadow: 2px 4px 40px rgba(75, 75, 75, 0.1);
  transition: all .2s linear;
  overflow: hidden;
  margin: 0 0 50px 0;
 }

.grid-item:hover {
  box-shadow: 2px 4px 40px rgba(111, 111, 111, 0.379);
  transform: translate3D(0, -4px, 0);
}
.btn {
  display: block;
  text-align: center;
}
.btn button {
  border-radius: none;
  background-image: linear-gradient(90deg, #000428, #004e92);
  border-radius: 100px;
  border: none;
  width: 180px;
  height: 50px;
  color: #FFFFFF;
  font-family: 'Orbitron', sans-serif;
  font-size: 0.9rem;
  font-weight: 800;
  text-align: center;
  cursor: pointer;
}
.btn button:hover {
  background-image: linear-gradient(90deg, #030f7e, #036dcb);
}
.btn button:focus {outline:0;}

/* Media Queries */

@media only screen and (max-width: 460px) {
  .grid-item {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10px;
    width: 96%;
  }
}